[Unit]
Description=UDP Publisher for cam data

[Service]
ExecStart=node /home/pi/RoverCam/player/server-rpi.js
StandardOutput=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target
